.contenu{


  article{

    display: grid;
    grid-template-rows: 100px auto 1fr;
    grid-template-columns: 1fr;



    header{
      background-color: $gray-300;

      margin: 0;
      padding: 20px 0;


      text-align: center;


      svg{
        height: 100%;
      }

    }

    img{
      align-self: end;
    }



  }







}


@media screen and (min-width:$breakpoint-lg){

  .contenu{
    display:grid;

    grid-template-rows: auto;

    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

}


