//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$color-text-normal: $gray-800;


$color-bg-page: $white;

$color-bg-light: $gray-100;
$color-bg-dark: $gray-800;

$color-title-light: $gray-100;
$color-title-dark: $gray-800;

$color-link: $gray-800;
$color-link-visited: $color-link;
$color-link-hover: darken($color-link, 5%);
$color-link-active: darken($color-link, 15%);
$color-link-focus: $color-link;
